<!-- template.html -->
<!DOCTYPE html>
<html>
<body>
  <h3 style="opacity: 0.6;">{{.Status}} Notification</h3>
  <div>
    <span style="opacity: 0.5;">Date</span> <span>{{.DateTime}}</span><br/>
    <span style="opacity: 0.5;">Host</span> <span>{{.Host}}</span><br/>
    <span style="opacity: 0.5;">Service</span> <span>{{.Service}}</span><br/>
    <span style="opacity: 0.5;">Type</span> <span>{{.ServiceType}}</span><br/>
    <span style="opacity: 0.5;">Description</span> <span>{{.Description}}</span><br/>
  </div>
  <div style="font-size: small; color: #8e8e8e; margin-top: 25px;">
    <img style="vertical-align: middle; display: inline-block;"
        src="cid:LogoMakr_4rwcqQ.png"
        height="38px" alt="Logo" />
    <div style="vertical-align: middle; display: inline-block;">
      <p style="margin: 0; font-weight: bold; font-size: medium; color:seagreen; word-spacing: 0.3em;">CentMonit</p>
      <p style="margin: 0; font-size: smaller;">Your another faithful employee</p>
    </div>
  </div>

</body>
</html>
